/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *require farbtastic
 *= require bootstrap
 

 */

body {
  min-width: 980px;
}

 .bg-modal {
   background-color: rgba(0,0,0,0.7);
   position:fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   overflow: auto;
   display:flex;
   justify-content:center;
   display: none;

  #close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size:42px;
    color:white;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #modalCheckboxes {
    position: absolute;
    width:400px;
    height:200px;
    background-color:white;
    text-align: center;
    border-radius:5px;
  }

  #checkboxesHolder {
    position: relative;
    top:70px;

  }
  #imageContainerModal {
     margin: 50px 0;

   }
 }
 //:style => "position:relative;text-align: center; display: inline-block


 .farbtastic {
   margin: auto;
 }
 body{
   background: #EDEFF0;
 }

 .wrapper {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
 }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main {
  background:white;
  width: 100%;
  height:100px;
  margin: 0 auto;
  #logo{
    float: left;
    p {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 30px;
      margin: 30px;
    }
  }
  #buttons{
    float: right;
    a{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: relative;
      top:15px;
      border-radius: 0.2em;

    }
  }
}
/*label {
  display: block;
}*/

.x_div {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: red;
  top:14px;
  pointer-events: none
}

.y_div {
  position: absolute;
  width: 3px;
  height:30px;
  background-color:red;
  left:14px;
  pointer-events: none
}

.myPoint {
  position: absolute;
  width:30px;
  height:30px;
}

input[type = 'file']{
  visibility: none;
}

#sessions {
  background: white;
  padding: 40px 5%;
  border-radius: 40px;
  .session {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #D1d1d1;
    .title {
      margin: 0;
      a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 100;
        font-size: 20px;
      }
    }
  }
}
#post_content{
  background:white;
  padding: 2em 5%;
  border-radius: .5em;
  

}
